
.bg-hero {
  background-image: url('/images/backgroundImage1.jpeg'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
}

.bg-gradient {
  background: linear-gradient(45deg, #f3ec78, #af4261);
}
