
.bg-hero {
  position: relative; /* Necesario para posicionar la capa gradiente */
  background-image: url('/images/copia para banner.JPG'); /* Reemplaza con la ruta de tu imagen */
  background-size: auto 80vh; /* Aumenta la altura de la imagen */
  background-position: center top; /* Posiciona la imagen desde la parte superior */
  height: 70vh; /* Ajusta la altura según tus necesidades */
}

.bg-gradient {
  background: linear-gradient(45deg, #f3ec78, #af4261);
}
